<div>
    <h2>SignUp</h2>
    <h4>It's quick and easy.</h4>
    <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
        <div class="form-group row">
            <input type="text" class="form-control col" formControlName="FirstName" placeholder="First Name"/>
            <label class="text-danger" *ngIf="service.formModel.get('FirstName').touched && service.formModel.get('FirstName').errors?.required">
                This field is mandatory.
            </label>
            <input type="text" class="form-control col" formControlName="SecondName" placeholder="Last Name"/>
        </div>
        <input type="text" class="form-control row" formControlName="Email" placeholder="Email or Mobile Number"/>
        <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">
            Invalid email adress.
        </label>
        <input type="password" class="form-control row" formControlName="Password" placeholder="New Password"/>
        <label class="text-danger" *ngIf="service.formModel.get('Password').touched && service.formModel.get('Password').errors?.required">
            This field is mandatory.
        </label>
        <label class="text-danger" *ngIf="service.formModel.get('Password').touched && service.formModel.get('Password').errors?.minlength">
            Minimum 6 characters required.
        </label>
    <h6 class="text-secondary">Birthday</h6>
    <mat-form-field appearance="fill">
        <mat-label>Month</mat-label>
        <select matNativeControl [(ngModel)]="SelectDateModel.selectedMonth" name="month">
          <option value="" selected></option>
          <option *ngFor="let month of SelectDateModel.months" [value]="month.value">
            {{month.viewValue}}
          </option>
        </select>
      </mat-form-field>
    <h6 class="text-secondary">Gender</h6>
    <div class="form-inline">
        <div class="form-check" >
            <input type="radio" class="form-check-input" formControlName="UserGender" checked value=0>
            <label class="form-check-label">Male</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" formControlName="UserGender" value=1>
            <label class="form-check-label">Female</label>
        </div>
    </div>
    <button class="btn-success" type="submit" [disabled]="!service.formModel.valid">SignUp</button>
</form>
</div>
