<header class="container-fluid" id="headerLoginMenu">
    <div class="row bg-primary" >
        <div class="column col-sm-7">
            <h1 class="text-white mt-5 ml-5">StartMeet</h1>
        </div>
        <div class="column col-sm-5 mt-3">
            <app-login></app-login>
        </div>
    </div>
</header>
<section class="container">
    <div class="row">
        <div class="column col-6 mt-5">
            <app-description></app-description>
        </div>
        <div class="column col-6 mt-2">
            <app-registration></app-registration>
        </div>
    </div>
</section>